.page {
  padding: var(--space24);
  padding-block-end: calc(var(--space24) * 4);
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 750px;

  display: flex;
  gap: var(--space24);
  flex-direction: column;
  align-items: center;
}

.gameTitle {
  font-size: clamp(2rem, 10vw, 4rem);
  font-weight: bold;
  color: var(--violet10);
  margin: 0;
  padding-block-end: var(--space16);
}
