.inspectorToggle {
  box-sizing: border-box;
  appearance: none;
  outline: none;

  border: var(--border-default) solid transparent;
  border-radius: var(--radius-default);
  background-color: var(--violet1);
  transition: all var(--transition);
  cursor: pointer;
  user-select: none;

  padding: 0.4em 0.8em;
  position: fixed;
  right: var(--space8);
  bottom: var(--space8);

  font-size: 1rem;
  line-height: 1;
}

.inspectorToggle:focus-visible {
  background-color: var(--violet4);
  border: var(--border-default) solid var(--violet7);
}

.inspectorToggle:active {
  border: var(--border-default) solid var(--violet7);
}

.inspectorToggle:hover {
  background-color: var(--violet4);
}
