.match {
  appearance: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  border-radius: var(--radius-default);
  padding: 0;
  cursor: grab;
  height: min(20vh, 250px);
  transition: all var(--transition);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.match:disabled {
  cursor: not-allowed;
}

.match[data-state="player1"] {
  background-color: var(--green9);
  box-shadow: 0px 0px 4px 4px var(--green9);
}

.match[data-state="player2"] {
  background-color: var(--violet9);
  box-shadow: 0px 0px 4px 4px var(--violet9);
}

.match[data-state="selected"] {
  background-color: var(--green7);
  box-shadow: 0px 0px 4px 4px var(--green7);
}

.match:not(:disabled):hover {
  transform: scale(1.1);
}

/* Don't group selector to not invalidate rules in case ":focus-visible" is not supported. */
.match:focus-visible {
  transform: scale(1.1);
}

.match::before {
  content: "";
  display: block;
  flex-shrink: 0;
  background-color: var(--red9);
  border-radius: calc(var(--radius-default) * 2);
  width: 1.75rem;
  height: 1.75rem;
  transition: all var(--transition);
}

/* Removed matches are "burned down" */
.match[data-state="player1"]::before,
.match[data-state="player2"]::before {
  background-color: hsl(0, 0%, 15.8%); /* Gray4 from Radix Colors */
}

.match::after {
  content: "";
  display: block;
  flex-shrink: 0;
  background-color: var(--brown10);
  border-radius: var(--radius-default);
  width: 1.5rem;
  flex-grow: 2;
}

.pile {
  display: flex;
  gap: var(--space16);
  flex-wrap: wrap;
  justify-content: center;
  /* Avoid cursor flickering when moving between matches. */
  cursor: grab;
  user-select: none;
  -webkit-user-select: none;
}
